.artist-visual {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  object-fit: contain;
  position: relative;
}

.artist-visual:hover {
  background: #000;
}

.artist-visual img {
  width: 100%;
}

.artist-visual h1 {
  top: 50%;
  right: 20%;
  position: absolute;
}

.artist-details ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #424874;
  padding: 20px 0;
}

.artist-details ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
