.artist-box {
  height: 32rem;
  width: 40rem;
  background-color: var(--bg-card);
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.artist-box:hover {
  background: var(--bg-card-hover);
}

.artist-box img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.artist-box .artist-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-secondary);
}
