.artist-container {
  width: 100%;
}

.artist-visual {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  object-fit: contain;
  position: relative;
}

.artist-visual:hover {
  background: #000;
}

.artist-visual img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.artist-visual h1 {
  top: 50%;
  right: 20%;
  position: absolute;
}

.artist-details .artist-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: var(--bg-surface);
  padding: 20px 0;
}

.artist-details ul li a {
  text-decoration: none;
  color: var(--btn-secondary-text);
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 20px;
}

.artist-details ul li a:hover {
  background: var(--btn-secondary-bg-hover);
}

.artist-details ul li a.active {
  background: var(--btn-secondary-bg);
}
