* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

:root {
  --text-primary: #000;
  --text-secondary: #424874;
  --text-link: #424874;
  --text-white: #fff;

  --bg-page: #f4eeff;
  --bg-surface: #ece7fb;
  --bg-card: #dcd6f7;
  --bg-card-hover: #ccc6e9;
  --card-border-radius: 5px;
  --btn-primary-bg: #000000;
  --btn-primary-text: #fff;

  --btn-secondary-bg: #e1cfff;
  --btn-secondary-bg-active: #633ba5;
  --btn-secondary-bg-hover: #cfc5ff;
  --btn-secondary-text: #424874;

  --add-btn-bg: #582eae;
  --add-btn-bg-hover: #321668;
  --add-btn-border-radius: 8px;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

/* Home Page */
main {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  text-align: center;
  margin: 50px 0 70px 0;
  font-size: 2rem;
  font-weight: 600;
  font-family: Poppins;
}

.sub-heading {
  /* margin: 0 20px; */
  text-align: center;
  font-size: 0.9rem;
  color: #424874;
}

.close-btn {
  display: none;
}

.required {
  color: red;
  font-size: 0.8rem;
}
