.NoticeCard {
  background: var(--bg-card);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--card-border-radius);
  transition: ease-in-out 0.2s;
}

.NoticeCard:hover {
  background: var(--bg-card-hover);
  transform: translateY(-3px);
}

.NoticeCard .notice-title {
  font-weight: 600;
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.NoticeCard div {
  display: flex;
  gap: 20px;
}
