.discography-container {
  width: 100%;
  margin: 22px 0 100px 0;
  flex-wrap: wrap;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.release {
  width: 80%;
  height: 300px;
  background: var(--bg-card);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px 80px;
  gap: 40px;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  color: var(--text);
}

.release:hover {
  background: var(--bg-card-hover);
  transform: translateY(-3px);
}

.release img {
  height: 100%;
  border-radius: 10px;
  /* width: 100%; */
}

.release-title {
  font-size: 1.5rem;
  font-weight: semibold;
}

.release-year {
  font-weight: 300;
}

.release-type-sort {
  width: 80%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.release-type-sort button {
  background-color: var(--btn-secondary-bg);
  border: none;
  text-decoration: none;
  padding: 6px 15px;
  color: black;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.release-type-sort button.active {
  background-color: var(--btn-secondary-bg-active);
  color: white;
}

.release-type-sort button:focus-visible {
  outline: 2px solid var(--btn-secondary-bg-active);
  outline-offset: 2px;
}

@media screen and (max-width: 666px) {
  .release {
    /* padding: 7px 2px; */
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .release-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 12px;
    background: linear-gradient(to top, #2d233eb6, transparent);
  }

  .release-info p {
    text-align: center;
    color: white;
  }

  .release-title {
    font-weight: 600;
  }

  .release-year {
    font-weight: 500;
  }

  .release-type-sort {
    gap: 5px;
    justify-content: space-around;
  }
}
