.profile-container {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 40px auto;
  overflow: hidden;
}

.info-left {
  width: 76%;
  padding-right: 30px;
}

.info-right {
  width: 24%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-right img {
  width: 100%;
  object-fit: cover;
  height: 26rem;
}

.profile-sec-head {
  background: var(--bg-surface);
  height: 2rem;
  width: 100%;
  font-size: 0.9rem;
  font-size: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-info {
  width: 100%;
}

.bg-info-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 4px 0;
}

.bg-info-row p:nth-child(2) {
  font-size: 1rem;
  font-weight: semibold;
}

.sns-sec {
  background: var(--bg-surface);
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 8px;
  font-weight: semibold;
  font-size: 0.8rem;
}

.sns-sec:hover {
  background: var(--bg-card-hover);
}

.sns-sec p {
  width: 20%;
}

.sns-handle {
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 825px) {
}
