* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

/* Home Page */
main {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  text-align: center;
  margin: 50px 0 10px 0;
  font-size: 2rem;
  font-weight: 600;
  font-family: Poppins;
}

.sub-heading {
  margin: 0 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #424874;
}

.close-btn {
  display: none;
}
