* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #f4eeffc0;
  z-index: 10;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0px 70px;
  align-items: center;
  justify-content: space-between;
  font-family: Poppins, Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.logo img {
  height: 5dvh;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a:hover {
  color: #424874;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
}

.nav-links li a.active {
  color: #424874;
}

.hamburger {
  display: none;
  font-size: 30px;
}

/* Home Page */
main {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  position: fixed;
  bottom: 0;
  background-color: #f4eeff;
  z-index: -2;
  width: 100%;
  height: 100dvh;
}

.home-background {
  width: 100%;
  position: fixed;
  bottom: -100px;
  z-index: -1;
}

.home-heading {
  text-align: center;
  padding-bottom: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.home-heading .latest-release-btn {
  height: 34px;
  width: 116px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #dcd6f7;
  color: #424874;
  font-weight: 600;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.home-heading .latest-release-btn:hover {
  background-color: #a6b1e1;
}

/* Footer */
footer {
  position: static;
  bottom: 0;
  min-width: 100%;
  margin: 10px 0;
}
.social-links {
  min-width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.social-links li {
  list-style: none;
}

.social-links li a {
  color: rgb(255, 255, 255);
}

.social-links li i {
  font-size: 0.9rem;
}

.copyright-info {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  color: white;
}

.dark-footer .social-links li a {
  color: black;
}

.dark-footer .copyright-info {
  color: black;
}

/* About */
.aboutus {
  width: 70%;
  margin: auto;
  height: 60vh;
}

/* Notice */

.heading {
  text-align: center;
  margin: 50px 0 10px 0;
  font-size: 2rem;
  font-weight: 600;
  font-family: Poppins;
}

.sub-heading {
  margin: 0 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #424874;
}

.notice-search {
  max-width: 40%;
  margin: auto;
  display: flex;
  min-height: 6dvh;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  background: #dcd6f7;
}

.notice-search input {
  min-height: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  padding: 2px 16px;
  color: #424874;
  flex: 1;
}

.notice-search i {
  width: 10%;
  font-size: 1.2rem;
  font-weight: 900;
  color: #424874;
}

.notices {
  width: 100%;
  align-items: center;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.NoticeCard {
  background: #dcd6f7;
  width: 90%;
  padding: 10px 20px;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
}

.NoticeCard:hover {
  background: #ccc6e9;
  transform: translateY(-3px);
}

.NoticeCard .notice-title {
  font-weight: 600;
  font-size: 1.3rem;
}

.contact-box {
  width: 50%;
  margin: 50px auto;
}

.contact-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contact-input label {
  color: #424874;
  font-size: 0.9rem;
}

.contact-input input {
  background: none;
  padding: 3px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.contact-input textarea {
  padding: 10px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid black;
}

#contact-submit {
  background-color: #000;
  margin: auto;
  color: #fff;
  padding: 10px 20px;
  float: right;
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  outline: none;
}

/* Artist Page */

.artist-list {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.artist-box {
  height: 23rem;
  width: 20rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
}

.artist-box:hover {
  background: #ccc6e9;
  border-radius: 10px;
}

.artist-box img {
  height: 88%;
  width: 100%;
  border-radius: 5px;
}

.artist-box .artist-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #424874;
}

@media screen and (max-width: 825px) {
  nav {
    padding: 0px 12px;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .home-background {
    bottom: 0;
  }

  .notice-search {
    max-width: 70%;
  }
}

@media screen and (max-width: 480px) {
  nav {
    padding: 0px 20px;
  }

  .nav-links {
    display: none;
  }

  .logo img {
    height: 3dvh;
  }

  .hamburger {
    display: block;
  }

  .home-background {
    bottom: 0;
  }

  .home-heading img {
    max-height: 5dvh;
  }
}
