.sidebar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px;
}

.sidebar-container .sidebar-logo {
  height: 15dvh;
  padding: 0 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.sidebar-container .sidebar-logo img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.sidebar-container .sidebar-nav-links {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 0 30px;
}

.sidebar-container .sidebar-nav-links li {
  list-style: none;
}

.sidebar-container .sidebar-nav-links li a {
  text-decoration: none;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  color: var(--text-primary);
  white-space: nowrap;
}

.sidebar-container .sidebar-nav-links li a:hover,
.sidebar-container .sidebar-nav-links li a.active {
  color: var(--text-link);
}

.sidebar-container .logout {
  padding: 0 30px;
  cursor: pointer;
  flex-shrink: 0;
}

.sidebar-container .logout a {
  text-decoration: none;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  color: var(--text-primary);
}

.sidebar-container .logout a:hover {
  color: var(--text-link);
}

.hamburger {
  display: none;
  font-size: 24px;
}

@media screen and (max-width: 825px) {
  .sidebar-container {
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
  }

  .sidebar-container .sidebar-logo {
    height: 80px;
  }

  .sidebar-container .sidebar-nav-links {
    display: none;
    background: #000000f4;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    z-index: 9;
  }

  .sidebar-container .sidebar-nav-links li a {
    font-size: 1.5rem;
    color: var(--text-white);
  }

  .sidebar-nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .sidebar-container .logout {
    display: none;
  }

  .sidebar-nav-links.active ~ .logout {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  .sidebar-nav-links.active ~ .logout a {
    color: var(--text-white);
  }

  .close-btn {
    display: none;
    position: absolute;
    color: var(--text-white);
    right: 2rem;
    z-index: 10;
  }

  .close-btn.active {
    display: inline-block;
  }
}
